:root {
	--animation-duration: 30s;
	--animation-delay: 0s;
  }

html {
  scroll-behavior: smooth;
}

body {
    background-color: #000000;
	  background-image: url('/images/formulas.jpg');
	  background-attachment: fixed;
	  background-position: center;
	  background-size: cover; 
	  background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #EEEEEE;
  }

  @keyframes shine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

  /* styles.css */
a {
  color: #7b0293; /* Change this to your desired color */
}

a:hover {
  color: #00356e; /* Change this to your desired hover color */
}


  h2 {
    font-size: 2.25rem;
    font-weight: 800;
    background: linear-gradient(90deg, #FFFFFF, #00356e, #FFFFFF, #7b0293, #FFFFFF);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 20s linear infinite;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

	.testimonial {
		font-size: 1rem;
		text-align: left;
		font-family: 'Roboto Condensed', Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
		color: #EEEEEE;
		padding: 20px;
	}

	.center {
		font-size: 1rem;
		text-align: center;
		font-family: 'Roboto Condensed', Jost, -apple-system, BlinkMacSystemFont, 'SegoeUI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	}